{{define "corejs"}}
<script src="/static/js/lib/jquery.js"></script>
<script src="/static/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/static/bs3/js/bootstrap.min.js"></script>
<script src="/static/assets/cookie/jquery.cookie.js"></script>
<script src="/static/js/accordion-menu/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/assets/data-tables/jquery.dataTables.js"></script>
<script src="/static/assets/data-tables/DT_bootstrap.js"></script>
<script src="/static/js/jquery-validate/jquery.validate.js"></script>
<script src="/static/js/scripts.js"></script>
{{end}}