<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src='/media/js/ajaxupload.js'></script>
<script type="text/javascript" src='/media/js/login.js'></script>
<link rel="stylesheet" type="text/css" href="/media/css/common.css">
</head>
<body>
	<div>
		<div style='background-color: yellow; width:300px'>
		<form action='/login/do'>
		<div style='background-color: green'><H1>Login</H1></div>
		<div><span>Username:</span><input type='text' name='username' /></div>
		<div><span>Password:</span><input type='password' name='Password' /></div>
		<div></div>
		<div><a class='button submit'>Submit</a><span> </span><a class='button cancel'>Cancel</a></div>
		</div>
		</form>
	</div>
</body>
</html>